@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  .hover-popup {
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
  }

  .group:hover .hover-popup {
    opacity: 1;
    transform: scale(1);
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;      /* Firefox */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;             /* Safari and Chrome */
  }
}

.letter {
  display: inline-block;
  background: linear-gradient(45deg, rgba(247, 239, 223, 1), rgba(241, 205, 150, 1));
  -webkit-background-clip: text;
  color: transparent;
}

/* F7EFDF to
F1CD96 */

.mask-custom {
  background-color: #031c00;

  -webkit-mask-image: radial-gradient(
    ellipse 100% 90% at 100% 50%,
    black 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 100% 90% at 100% 50%,
    black 60%,
    transparent 100%
  );

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: cover;
  mask-size: cover;
}

/* for 3d map */
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: 'The Nostalgic';
  src: url('/fonts/TheNostalgic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'Belkin Regular';
  src: url('/fonts/BelkinRegular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'Belkin Light';
  src: url('/fonts/BelkinLight.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'Waterfall Regular';
  src: url('/fonts/WaterfallRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

