@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  .hover-popup {
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
  }

  .group:hover .hover-popup {
    opacity: 1;
    transform: scale(1);
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;      /* Firefox */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;             /* Safari and Chrome */
  }
}

@font-face {
  font-family: 'The Nostalgic';
  src: url('/fonts/TheNostalgic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'Belkin Regular';
  src: url('/fonts/BelkinRegular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'Belkin Light';
  src: url('/fonts/BelkinLight.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}